.forward {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.link {
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: 700;
  width: 5em;
  height: 1.5em;
  text-decoration: none;
  justify-content: center;
}

.link:hover {
  background-color: #6667AB;
  color: black;
}
